<div class="container" style="text-align:center">
  <img src="assets/imgs/LogoKing-vegus.png" class="img">
</div>
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
  <a class="navbar-brand" href="#">King</a>
  <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button">
    Login
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [class.show]="show">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="payment">วิธีการฝาก-ถอนเงิน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">ติดต่อเรา</a>
      </li>
      <!--
      <li ngbDropdown class="nav-item">
        <a class="nav-link" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
  </div>
</nav>