/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background-image: url(http://freedesignfile.com/upload/2017/02/Abstract-black-background-with-purple-light-vector.jpg);
    font-family: 'Raleway', 'Arial';
    background-size: auto;
    
}